<div class="footerhero">
    <a [routerLink]="['/home']"> <!-- Add this clickable logo link -->
        <img class="logofooter" src="/assets/logo.png" alt="logo" aria-hidden="true">
        <div class="link-info"> 
            <div class="nosservice">
                <a>à domicile</a>
                <a>Consultation Video</a>
                <a>Visite cabinet</a>
            </div>
            <div class="Apropos">
                <a>Founders</a>
                <a>Conditions</a>
                <a>témoignage</a>
            </div>
            <div class="Rejoigneznous">
                <a>Contacter nous</a>
                <a>Histoire</a>
            </div>
        </div>
    </a>
        <div class="alignbtnfooter">
        <button class="button button-inscrire" [routerLink]="['/Inscription']">s’inscrire</button>
        <button class="button button-connecter" [routerLink]="['/Connexion']">se connecter</button>
    </div>
    <div class="line"></div>
</div>
