<div class="container mt-4">
  <h2>Schedule Appointment</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dateappoint">Date:</label>
      <input type="date" id="dateappoint" name="dateappoint" class="form-control" [(ngModel)]="dateappoint" required>
    </div>

    <div class="form-group">
      <label for="timeappoint">Time:</label>
      <input type="time" id="timeappoint" name="timeappoint" class="form-control" [(ngModel)]="timeappoint" required>
    </div>

    <div class="form-group">
      <label for="selectedDoctor">Doctor:</label>
      <select id="selectedDoctor" name="selectedDoctor" class="form-control" [(ngModel)]="selectedDoctorId" required>
        <option *ngFor="let doctor of doctors" [value]="doctor.idDoctor">{{ doctor.name }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="selectedPatient">Patient:</label>
      <select id="selectedPatient" name="selectedPatient" class="form-control" [(ngModel)]="selectedPatientId" required>
        <option *ngFor="let patient of patients" [value]="patient.idpatient">{{ patient.firstname }} {{ patient.lastname }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Appointment</button>
  </form>
</div>