

.content{
    background-color: #F9FBFC;
    display: flex;
    width: auto;
    height: auto;
}
.rectanglerecherche {
    position: absolute;
    width: 1200px;
    height: 70px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);
    margin-top: 65px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .linerecherche {
    position: absolute;
    width: 800px;
    height: 15px;
    background: #006D77;
    border-radius: 15px;
    top: 423px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  .results {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* 5 columns */
    grid-auto-rows: auto; /* Infinite rows with auto height */
    column-gap: 14px; /* Adjust the gap between columns */
    row-gap: 14px; /* Adjust the gap between rows */
    justify-content: space-between; /* Space between columns */
    margin-top: 463px;
    margin-bottom: 100px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .select-box {
    width: 281px;
    height: 44px;
  }
  .select-box:hover option {
    background-color: #006D77;
    color: white;
  }
  .button {
    width: 124px;
    height: 44px;
    background-color: #006d77;
    color: #ffffff;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: "Baloo Chettan 2" , sans-serif;
    border-radius: 15px;
    border-style: hidden;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.015em;

  }
  .button:hover {
    background-color:var(--secondary3-color);
    color: #006d77;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-full-width {
    width: 80%;
    
  }
.selecttype{
  width: 300 px;
  grid-row-start: initial;
}