
    <section class="content">
          <section class="rectanglerecherche">
            <div>
           <!--
              <form>

            <ng-select [items]="Villes" appendTo="body"  placeholder="choisir un ville"></ng-select>
            <ng-select [items]="specialité" appendTo="body"  placeholder="choisir  une spécialité"></ng-select>

        </form>
        -->
            </div>
          </section>
          <div class="linerecherche">
          </div>
          <section class="results">
            <app-miniprofile></app-miniprofile>
          </section>
    </section>
   