.listing {
    width: 270px;
    height: 200px;
    background: #FFF;
    border-radius: 16px;
    padding-bottom: 30px;
    margin-top: 463px;
    margin-left: 15px;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);

  }
  .listing-heading {
    color: var(--text-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 25px ;
    margin-left: 121px;
    position: absolute;
  }
  .listing-photo {
    position: absolute;
    width: 41px;
    height: 43px;
    object-fit: cover;
    margin-top: 25px;
    margin-left: 32px;
    border-radius: 43px;
  }
  .listing-title{
    position: absolute;
    color: var(--primary-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 25px ;
    margin-left: 85px;
    
  }
  .listing-location {

    position: absolute;
    color: var(--text-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: normal;
    letter-spacing: -0.15px;
  }
  .listing-location::before {
    content: url("/assets/location-pin.svg") / "";
  }
  .listing-content{
    position: absolute ;
    width: 200px;
    height: 49px;
    object-fit: cover;
    margin-left: 32px;
    margin-top:110px;
  }
  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.listing a::after {
    content: "\203A";
    margin-left: 5px;
  }
  .rdv * {
    box-sizing: border-box;
  }
  .rdv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    margin-top: 76px;
    margin-left: 62px;
  }
  .rendez-vous-confirmer {
    color: #006d77;
    text-align: center;
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    font-size: 10px;
  }
  .rdvnbr * {
    box-sizing: border-box;
  }
  .rdvnbr {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    margin-top: 80px;
    margin-left: 138px;
  }
  .Rdvconfirmer {
    color: #e29578;
    text-align: center;
    font-size: 16px;
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    position: relative;
    width: 50px;
    height: 30px;
  }
  