<section class="listing">
    <img class="listing-photo" [src]="housingLocation.photo" alt="Image de Profile  de {{housingLocation.name}}">
    <div class="rdv">
      <div class="rendez-vous-confirmer">Rendez-vous :<br />confirmer</div>
    </div>
   
    <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    <p class="listing-title">{{housingLocation.title }}</p>
    <div class="listing-content">
    <p class="listing-location">{{ housingLocation.specialite}}</p>
    <div class="btnconttainer">
      <button class="button button-profile" [routerLink]="['/profilemed', housingLocation.id]" >afficher profile</button>
    </div>
    </div>
  </section>