<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
<head>
	

	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		

			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/home">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard patient {{ patient?.idpatient }}</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						
						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img" *ngIf="patient">
											<img src="/assets/img/patients/patient.jpg" >
										</a>
										<div class="profile-det-info">
											<h3>{{ patient?.firstname }},{{ patient?.lastname }}</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> {{ patient?.gender }},{{ patient?.age }}</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>{{ patient?.adresse }}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="/patientDashboard">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
										
										
											<li>
												<a href="/RechercherMed">
													<i class="fas fa-user-cog"></i>
													<span>Rechercher Médcin</span>
												</a>
											</li>
											
											<li>
												<a href="/Connexion">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- / Profile Sidebar -->
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
											</li>
									
											
										</ul>
									</nav>
									<!-- /Tab Menu -->
							
								<!-- Tab Content -->
<div class="tab-content pt-0">
    <div class="tab-pane fade show active" id="upcoming-appointments">
        <div class="card card-table mb-0">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Acceptance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appointment of appointments">
                                <td>
                                    <h2 class="table-avatar">
                                        <a class="avatar avatar-sm mr-2" [routerLink]="['/profilemed', appointment.doctor?.idDoctor]">
                                        </a>
                                        <a [routerLink]="['/profilemed', appointment.doctor?.idDoctor]">{{ appointment.doctor?.name || 'N/A' }} <span>{{ appointment.doctor?.specialite || 'N/A' }}</span></a>
                                    </h2>
                                </td>
                                <td>{{ appointment.dateappoint | date:'mediumDate' }}<span class="d-block text-info">{{ parseTime(appointment.timeappoint) }}</span></td>
                                <td>{{ parseTime(appointment.timeappoint) }}</td>
								<td [style.color]="appointment.acceptance === 'accepted' ? 'green' : (appointment.acceptance === 'refused' ? 'red' : 'black')">
									{{ appointment.acceptance }}
								  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tab Content -->

								</div>
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
		   
		</div>
		<!-- /Main Wrapper -->
	
		
	</body>

<!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>