<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Admin Pannel</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Bienvenu dans la configuration Admin</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->
  
<!-- admin-panel.component.html -->
<div class="container mt-5">
    <h2 class="text-center">Admin Panel</h2>
    <div class="row justify-content-center mt-3">
      <div class="col-md-6">
        <button class="btn btn-primary btn-block mb-3" routerLink="/appointmenttable">Appointment Table</button>
        <button class="btn btn-primary btn-block mb-3" routerLink="/patienttable">Patient Table</button>
        <button class="btn btn-primary btn-block mb-3" routerLink="/doctortable">Doctor Table</button>
        <button class="btn btn-primary btn-block mb-3" routerLink="/doctorcreate">Create Doctor</button>
        <button class="btn btn-primary btn-block mb-3" routerLink="/Inscription">Create Patient</button>
        <button class="btn btn-primary btn-block" routerLink="/appointmentcreate">Create Appointment</button>
      </div>
    </div>
  </div>
  