body,html{

    height: 100%;
    margin: 0;
    padding: 0;

}
.connexion{
       min-height: 1000px;
    display: flex;
    justify-content: center;
    
    background-color: #F5F5F5;
}
.center-content {
    text-align: center;
}
.bienvenue{
    position: absolute;
    width: 406.8196716308594px;
    height: 70px;
    margin-top: 20px; /* Adjust the vertical position as needed */

}
.bienvenue,h1{
    color:  #006d77;
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    font-size: 45.767px;
    font-style: normal;
    line-height: 48.8px; /* 106.627% */
}
.logo{
    margin-top: 50px;
    width: 400px;
    height: 200px;
}
.login-container{
    position: absolute;
    margin-top: 150px;

    padding: 20px;
}
.connectez{
    height: 40px;
    width: 360px;
    text-align: center;
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    border-radius: 14px;
    border-style: hidden;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    margin-right: 245px;
    background-color: #006d77;
    color: #ffffff;
    transition: background-color 0.3s ease;

}
.connectez:hover{
    background-color:var(--secondary3-color);
    color: #006d77;
}
