<div class="navigation-header">
  <a [routerLink]="['/home']"> <!-- Add this clickable logo link -->
    <img class="img-7" src="/assets/logo.png" alt="logo" aria-hidden="true">
  </a>
<div class="txtheader">
    <a class="textheader" (click)="scrollTo('acceuil')" [routerLink]="['/home']">Acceuil</a>
    <a class="textheader" (click)="scrollTo('nos-service')"[routerLink]="['/home']">Nos Service</a>
    <a class="textheader" (click)="scrollTo('apropos')" [routerLink]="['/home']">à propos</a>
    <a class="textheader" (click)="scrollTo('rejoignez-nous')"[routerLink]="['/home']">Rejoinez-nous</a>
  </div>
<div class="alignbtnheader">
        <button class="button button-inscrire"[routerLink]="['/Inscription']">s’inscrire</button>
        <button class="button button-connecter" [routerLink]="['/adminpanel']">Admin</button>
    </div>


</div>