<div class="navigation-header">
<img class="img-7" src="AlodocAPP\src\assets\[removal.ai]_91b8a2b5-6784-4250-9faa-8e986341ec34-logo_beta.png" />
<a class="textheader" href="/acceuil">Acceuil</a>
<a class="textheader" href="/nos-service">Nos Service</a>
<a class="textheader" href="/a-propos">à propos</a>
<a class="textheader" href="/rejoignez-nous">Rejoinez-nous</a>


  <button class="button">
    <div class="rectangle-2" >
    <p class="text-5">inscription</p>
</div>
  </button>
  <button class="button">
    <div class="rectangle-3" >
    <p class="text-6">connexion</p>
    </div>
  </button>

</div>