.navigation-header {
  display: flex;
  
  align-items: center;
  box-shadow: 0px 5px 25px var(--shadow-color);
  height: 60px;
  width: 100%;
  background-color: var(--secondary3-color);
  margin-right: 55px;
}

.textheader {
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  letter-spacing: -1.5%;
  line-height: auto;
  color: #006d77;
  margin: 0 10px;
}

.img-7 {
  height: 60px;
  width: 80px;
  margin-left: 55px;
  flex-shrink: 0;
}
