<div class="navigation-header">
<img class="img-7" src="/assets/logo.png" alt="logo" aria-hidden="true">
<div class="txtheader">
<a class="textheader" href="/acceuil">Acceuil</a>
<a class="textheader" href="/nos-service">Nos Service</a>
<a class="textheader" href="/a-propos">à propos</a>
<a class="textheader" href="/rejoignez-nous">Rejoinez-nous</a>
</div> 
<div class="alignbtnheader">
        <button class="button button-inscrire">s’inscrire</button>
        <button class="button button-connecter">se connecter</button>
    </div>


</div>