.rejoigneznous{
    height: 960px;
    display: flex;
    background-color: #F9FBFC;
}
.lastrectangle{

position:absolute;

width: 622px;
margin-top: 260px;
margin-left:60%;
display: flex;
border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);



height: 623px;

flex-shrink: 0;


}