<div class="container">
  

  <div class="row">
    <div class="col-md-6">
      <h2>Doctors</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>City</th>
            <th>Title</th>
            <th>Phone Number</th>
            <th>Actes</th>
            <th>Action</th> 
            <th>DoctorDashboard</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors">
            <td>{{ doctor.idDoctor }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.specialite }}</td>
            <td>{{ doctor.city }}</td>
            <td>{{ doctor.title }}</td>
            <td>{{ doctor.numtele }}</td>
            <td>{{ doctor.actes.join(', ') }}</td>
            <td>
              <button (click)="deleteDoctor(doctor.idDoctor)">Delete</button>
            </td>
            <td>
              <button class="btn btn-info btn-sm" [routerLink]="['/DoctorDashboard', doctor.idDoctor]" >afficher profile</button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
