<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:03 GMT -->
<head>
		
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
		
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/home">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="/assets/img/doctors/doctor.jpg" alt="Image de Profile de {{doctor?.name}}">
										</a>
										<div class="profile-det-info">
											<h3>{{doctor?.title}},{{doctor?.name}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{doctor?.specialite}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="doctor-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											
											<li>
												<a href="/Connexion">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">

							<div class="row">
								<div class="col-md-12">
									<div class="card dash-card">
										<div class="card-body">
											
												
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<h4 class="mb-4">Patient Appoinment</h4>
									<div class="appointment-tab">
									
										
										
										<div class="tab-content">
										
					<!-- Upcoming Appointment Tab -->
<div class="tab-pane show active" id="upcoming-appointments">
    <div class="card card-table mb-0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
							<th>ApptId</th>
                            <th>Patient details</th>
                            <th>Appointment Date</th>
							<th>Appoinment Time</th>
							<th>Acceptance </th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr *ngFor="let appointment of appointments">
							<td>{{appointment.idappoint}}</td>
						<td >
								<h2 class="table-avatar">
									<a>{{ appointment.patient?.firstname || 'N/A'}} , {{ appointment.patient?.lastname || 'N/A'}}</a>
								
									<a>   <span>age : </span> {{ appointment.patient?.age || 'N/A'}} , <span>.gender : </span>{{ appointment.patient?.gender|| 'N/A'}}</a>
								</h2>
							</td>
							<td >
								{{ appointment.dateappoint | date:'mediumDate' }}
							</td>
							<td> {{ parseTime(appointment.timeappoint) }}</td>
							<td>{{ appointment.acceptance}}</td>
							<td>
								<div class="table-action">
									<button *ngIf="appointment.acceptance !== 'accepted'" class="btn btn-sm bg-success-light" (click)="acceptAppointment(appointment.idappoint)">
										<i class="fas fa-check"></i> Accept
									</button>
									<button *ngIf="appointment.acceptance !== 'refused'" class="btn btn-sm bg-danger-light" (click)="refuseAppointment(appointment.idappoint)">
										<i class="fas fa-times"></i> Refuse
									</button>
								</div>
							</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Upcoming Appointment Tab -->
											
											
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			
		   
		</div>
		<!-- /Main Wrapper -->
	  
		
	</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>