.Profilecontent{
    background-color: #F9FBFC;
    display: flex;
    width: auto;
    height: 1500px;
}
.infopersonnel{
    position: absolute;
    width: 969px;
    height: 200px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);
    margin-top: 136px;
    margin-left: 50px;
}
.line{
    position: absolute;
    width: 800px;
    height: 15px;
    background: #006D77;
    border-radius: 15px;
    margin-top: 386px;
    margin-bottom: 50px;
    left: 131px;
}
.indicationdetails{
    position: absolute;
    width: 969px;
    height: 200px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);
    margin-top: 436px;
    margin-left: 50px;

}
.line2{
    position: absolute;
    width: 800px;
    height: 15px;
    background: #006D77;
    border-radius: 15px;
    margin-top: 686px;
    margin-bottom: 50px;
    left: 131px;
}
.actes{
    position: absolute;
    width: 969px;
    height: 200px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);
    margin-top: 736px;
    margin-left: 50px;

}
.line3{
    position: absolute;
    width: 800px;
    height: 15px;
    background: #006D77;
    border-radius: 15px;
    margin-top: 986px;
    margin-bottom: 50px;
    left: 131px;
}
.commentaires{
    position: relative;
    width: 969px;
    height: 400px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(88, 126, 236, 0.15);
    margin-top: 1036px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 5px; 

}
.rdvprofile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 200px;
    right: 62px;
}
.rdv {
    height: 60px;
    width: 275px;
    padding: 0;
    text-align: center;
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 6px;
    border-style: hidden;
    outline: none;
    cursor: pointer;
    margin-inline: 5px;
}
.rdv {
    background-color: #006d77;
    color: #ffffff;
   
    transition: background-color 0.3s ease, color 0.3s ease;
}
.rdv:hover {
   background-color: var(--secondary4-color);
   color: #ffffff;
}

.infopersonnel-title{
    color: var(--primary-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold; 
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.27px;
    position: absolute;
     width: 207px ;
    height: 29px ;
    margin-top: 14px ; 
    margin-left: 21px ;
 
}
.infopersonnel-name{
    color: var(--text-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: 400; 
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.27px;
    position: absolute;
    width: 207px ;
    height: 29px ;
    margin-top: 15px  ;
    margin-left: 381px ;

}
.indicationdetails-title{
    color: var(--primary-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: bold; 
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.27px;
    position: absolute;
    width: 207px ;
    height: 29px ;
   margin-top: 15px ;
    margin-left:  21px ;

}
.infopersonnel-photo {
    position: absolute;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-top: 57px;
    margin-left: 77px;
    border-radius: 43px;
  }
  .infopersonnel-specialité{
    width: 514px;
     height: 78px;
    margin-top: 55px ;
    margin-left: 287px;
    color: var(--primary-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-style: normal;
    font-weight: 493;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.27px;
  }
  .indicationdetails-description{
    width: 637px;
    height: 123px;
    color: var(--text-color);
    font-family: "Baloo Chettan 2" , sans-serif;
    font-weight: 400; 
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.27px;
    position: absolute;
    margin-top: 61px ;
    margin-left:  32px ;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    padding: 5px;
    border: 1px solid #ccc;
  }
  .button-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(88px, 2fr)); /* Max 6 colonnes, largeur minimale de 88px */
    grid-gap: 30px; /* Espacement entre les boutons */
    max-width: 700px; /* Largeur maximale de la grille */
   
  }
  
  .button-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actepadding{
    position: absolute;
    margin-top: 57px ;
    margin-left: 51px;
  }