<main>
 <div class="Profilecontent">
    <section class="infopersonnel">
    </section>
    <div class="line"></div>
    <section class="indicationdetails">
    </section>
    <div class="line2"></div>
    <section class="actes">
    </section>
    <div class="line3"></div>
    <section class=" calendar">
<!--
        <mbsc-page>
            <mbsc-datepicker
            [controls]="['calendar', 'timegrid']"
            [touchUi]="true" display="inline"  style="width: 100%; max-width: 100%; max-height: 100%;">
        
            </mbsc-datepicker>
        </mbsc-page>-->
    </section>
    <div class="line4"></div>
 </div>

</main>
