<main>
  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item"><a href="/RechercherMed">RechercherMedcin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile Médcin</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Profile Médcin</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->
  <div class="Profilecontent">
    <section class="infopersonnel">
      <h1 class="infopersonnel-title">Information Personnel</h1>

      <img class="infopersonnel-photo" src="/assets/img/doctors/doctor.jpg" alt="Image de Profile de {{doctor?.name}}">

      <h3 class="infopersonnel-rdvnumber"></h3>
      <h2 class="infopersonnel-name">{{doctor?.title}}, {{doctor?.name}}</h2>

      <p class="infopersonnel-specialité">{{doctor?.specialite}}</p>

      <div class="infopersonnel-acces">
      </div>
    </section>
    <div class="line"></div>
    <section class="indicationdetails">
      <h1 class="indicationdetails-title">Indications / Détail Accès</h1>
      <div class="indicationdetails-description">
        <div class="row">
          <div class="cell">
            {{doctor?.adresse}}
          </div>
          <div class="cell">
            {{doctor?.city}}
          </div>
        </div>
        <div class="row">
          <div class="cell">
            {{doctor?.numtele}}
          </div>
          <div class="cell">
            {{doctor?.numcabinet}}
          </div>
        </div>
      </div>
    </section>
    <div class="line2"></div>
    <section class="actes">
      <h1 class="indicationdetails-title">Soins et actes</h1>
      <div class="actepadding">
        <div class="button-grid">
          <div class="button-item" *ngFor="let acte of doctor?.actes; let i = index">
            <a class="badge badge-secondary p-2 mb-1" href="{{ acte }}" style="min-width: 88px; height: 43px; font-size: 0.9em; background-color: #006D77;">
              {{ acte }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="line3"></div>
    <div class="line4"></div>
  </div>
  <div class="rdvprofile">
    <button type="button" class="rdv btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Réservez-Rdv
    </button>
  </div>
</main>
